
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
$black: #000000;
$container_width: 1140px;
$lato: 'Lato', sans-serif;
body{
    background-color: azure;
    font-family: $lato;
}
.aheader{
    margin-top: 20px;

    &__items{
        display:inline;
        margin-right:5px;
        font-size: 16px;
        color: $black;
    }
   
}
.aheader img{
    padding-right: 10px;
}
.down{
    padding-top:30px;
}
.less-down{
    padding-top:15px;
}
.button{
    margin-top: -120px;
    margin-right:50px;
        width:140px;
        height:33px;
        text-align: left;
        font-size: 12px;
        color: #333333;
        background-color: #E5E5E5;
}
.size{
    height:200px;
    width:200px;
}

.pictures{
    margin-bottom: 70px;
  

    &__main{
        width:1123px;
        overflow: hidden;

        margin-bottom: 30px;}
    &__main img{

        @media screen and(max-width: $container_width){
            width:100%;
 
        }}
    &__list{
        text-align:center;
        margin-bottom: 50px;
        float:left;
   

    }
    &__list img{
        margin-bottom: 10px;
        height:600px;
        width: 350px;
   

    
    }
    &__button{
        width:250px;
        margin-right: auto;
        margin-left: auto;
    
    }
    &__buttonView{
        font-size: 16px;
        width:250px;
        height: 50px;
        line-height: 19px;
        background-color: #000000;
        color: #FFFFFF;
        
    
    }
    }
.pictures__list a{
    color:$black;
}   

.pictures__list p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}   

.pictures__list span{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

}   

.review{

    &__item{
        text-align: center;
    }
    &__itemUser{
        font-weight: bold;
        font-size: 16px;

    }
    &__itemComment{
        font-size: 14px;

    }
}
.review img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 179px;
height: 178px;
}
.bottom{

    margin-right: auto;
    margin-left: auto;
}
    .footer{
        background-color: $black;
        width:100%;
        color:white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        padding-top: 20px;
  
    
        &__logo{
            margin-top: 10px;
        }
        &__logo img{
            @media screen and(max-width: $container_width){
                display:none;}
        }
        &__links{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: -15px;
            
        }
        &__contact{
            
        }
        &__{
            
        }
        &__{
            
        }
        &__{
            
        }

    }
.footer a{
    color:white;
}
  

.about{
display:flex;
flex-direction: row;
margin-bottom: 70px;
    &__img img{
        width:550px;
        overflow: hidden;

    }
    &__info{
        width:550px;
        margin-left:50px;
        padding-top: 20px;
    }

    &__infoHeader{
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding-bottom: 30px;

    }

    &__infoDescription{
        font-size: 16px;
        line-height: 150%;
    }
    &__infoDescriptionItalic{
        font-style: italic; 
        font-size: 24px;
        padding-top:20px;
        padding-bottom: 20px;

    }
}

.delivery{
    width:82%;
    margin-left: auto;
    margin-right: auto;

    &__mainTitle{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;

    }
    &__title{
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px;
    }
    &__text{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 40px;
    }
    &__text p{
        margin-bottom: 20px;
        margin-top: 20px;
        
    }
    &__text img{
        
    }
    
}

.contact{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: left;
    font-size: 16px;
    line-height: 19px;

    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
        text-align: center;
    }
    &__info{
        font-size: 16px;
       margin-bottom: 20px;
    }
}

.contact a {    color: #000000;
margin-bottom: 30px;}
.contact img{ 
    margin-right: 10px;}
.section{

    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    font-family: $lato;
    float: left;
    margin-right:55px;
    margin-left: 50px;

    &__item{
        margin-bottom:30px;
        margin-left: 58px;
    }

}
.section a{
    color:black;
}

.item{
    font-family: $lato;
    &__photos{
        float:left;
        padding-right: 20px;

    }

    &__photosCollection{
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-content: flex-start;
        width: 112px;
        height: 112px;
        float: left;
        margin-bottom: 60px;
        
    }

    &__photosMain{
        width: 425px;
        height: 650px;
        margin-bottom: 15px;
        
    }

    &__info{
        padding-top:30px;
  
    }

    &__infoName{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__infoPrice{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
        
    }

    &__infoAvailability{
        float:right;
        margin-top: 11px;
        margin-right: 250px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #BDBDBD;

        
    }

    &__infoCharacteristics{
        margin-bottom: 40px;
        
    }

    &__infoTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin-top: 15px;
        margin-bottom: 20px;

    }

    &__infoDescription{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        
    }

    &__button{
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background-color: $black;
        color: #FFFFFF;
        width: 216px;
        height: 48px;
        border-radius:3px;
        margin-left: -17px;
        border: 0px;
        margin-top: -10px;
    }
}




.item__photosCollection img{
    width: 112px;
    height: 112px;
    padding-right: 25px;
    
}
.item__photosMain img{
    width: 425px;
    height: 650px;
}
