
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
$black: #000000;
$container_width: 1140px;
$container_widthMD: 970px;
$lato: 'Lato', sans-serif;
body{

    font-family: $lato;
}
.color{
    background-color: white;
    border-bottom: 0px;
}
.header{
 
    margin-top: 3.8%;
    @media screen and(max-width: $container_width){
        background-color: $black;
        margin-top: 0px;

  
      }
  

}
.navbar-toggle{
    @media screen and(max-width: $container_width){
        display: block;
 
       }
}
.navbar-header{
    @media screen and(max-width: $container_width){
       float: none;

      }
}
.aheader{
    margin-top: 20px;
    @media screen and(max-width: $container_width){
        background-color: $black;
        margin-top: 0px;
        padding-top: 12px;

      }
    &__small{
        @media screen and(max-width: $container_width){
            background-color: #BFBFBF;
    
          }
        }

    &__items{
        display:inline;
        margin-right:5px;
        font-size: 16px;
        color: $black;
        @media screen and(max-width: $container_width){
            display: flex;
            flex-direction: column;
            background-color: white;
            padding-left:1.7%;
            width:70%;
            margin-bottom:6%;
            border-radius: 2px;
            height: 80px
         
       
        }
    }
    &__items a{
        color: black;
        @media screen and(max-width: $container_width){
            padding-top: 30px;
        }
    }
    &__items img{
     padding-right:10px;
     padding-left:10px;
    }
    &__logo{
        padding-right: 10px;
    }
}

.logoMobile{
    width:42%;
    height:45%;
    margin-right: auto;
    margin-left: auto;
}

.down{
    padding-top:13px;
    @media screen and(max-width: $container_width){
        padding-top:0px;
     }
    
}

.button{
    margin-top: -130px;
    margin-right:50px;
        width:140px;
        height:33px;
        text-align: left;
        font-size: 12px;
        color: #333333;
        background-color: #E5E5E5;
}
.size{
    height:200px;
    width:200px;
}
.catalog{

    &__new{
        position:absolute; 
        color:black; 
        border: 1px solid white; 
        background-color: white; 
        top: 515px;right: 16px; 
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
    &__newprice{
        color:#C5221E;
        font-weight:bold;
        font-size: 24px;
 
    }
    &__sale{
        position:absolute; 
        color:white; 
        border: 1px solid black; 
        background-color: black; 
        top: 515px;right: 16px; 
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    &__price{
        text-decoration: line-through;
    }  
    &__load{
        display:none;
    }  

}


.pictures{
    margin-bottom: 70px;
    width:80%;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and(max-width: $container_width){
        padding-left:0;
    }
  
    &__main{
        width:98%;
        height: auto;
        overflow: hidden;
        margin-bottom: 30px;}

    &__main img{
        width:100%;
        height: auto;
        @media screen and(max-width: $container_width){
            width:100%;
 
        }}
    &__list{
        text-align:center;
        margin-bottom: 200px;
        height:600px;
        width: 450px;
        padding-right:30px;

   

    }
    &__list img{
        margin-bottom: 10px;
        height:auto;
        width: 100%;

   

    
    }
    &__button{
        width:250px;
        margin-right: auto;
        margin-left: auto;
    
    }
    &__buttonView{
        font-size: 16px;
        width:250px;
        height: 50px;
        line-height: 19px;
        background-color: #000000;
        color: #FFFFFF;
        
    
    }
    }
.pictures__list a{
    color:$black;
}   

.pictures__list p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}   

.pictures__list span{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

}   

.review{
    margin-bottom: 6%;

    &__item{
        text-align: center;
    }
    &__itemUser{
        font-weight: bold;
        font-size: 16px;

    }
    &__itemComment{
        font-size: 14px;

    }
}
.review img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 179px;
height: 178px;
}
.afooter{
    background-color: $black;
    width:100%;
    padding-left:10%;
    @media screen and(max-width: $container_width){
        padding-left:0;
        
}
}
.footer{
   
        color:white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:90%;
        margin-right: auto;
        margin-left:auto;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
  

        @media screen and(max-width: $container_width){
            flex-flow: column wrap;
            align-items: center;
            align-content: space-between;
            width:100%;
            
  }
//   width:50%;
//   margin-right: auto;
// margin-left: auto;
  
    
        &__logo{
            margin-top: 10px;
    
            @media screen and(max-width: $container_width){
                border-bottom:2px solid white;
                width:100%;
                text-align:center; 
                font-size: 10px;
                margin-top: 0px;
                padding-bottom: 1%;}
            

             
        }
        &__logo img{
            padding-bottom:25%;
            @media screen and(max-width: $container_width){
                display:none;}
        }
        &__links{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: -10px;

            @media screen and(max-width: $container_width){
                margin-top: 10px;
                text-align: center;
                font-size: 18px;
                line-height: 28px;
                font-weight: normal;
                padding-bottom: 2%;
                padding-top: 1%;
                border-bottom:2px solid white;
                width: 100%;
   
    }
            
        }
        &__contact{
            margin-top: -0.5%;  
            @media screen and(max-width: $container_width){
                border-bottom:2px solid white;
                width:100%;
                padding-top: 3%;
                text-align: center;}       
        }

        &__contact:last-child{
            @media screen and(max-width: $container_width){
                font-size: 10px;
                padding-bottom: 4%;
                color: #929292;}      
        }
    
        &__contactSocial{
            display: flex;
            flex-direction: row;
            margin-top: 1.8%;
            margin-bottom: 4%;
            @media screen and(max-width: $container_width){
                align-items: center;
                justify-content: center;
                padding-left:5%;
                border-bottom:2px solid white;
                padding-bottom: 3%;}       
        }
        &__contactSocial img{
            padding-right: 25px;
            @media screen and(max-width: $container_width){
                width:45px;
                height: 20px;}     
        }
        &__contactDesigner{
            padding-bottom: 2%;
            @media screen and(max-width: $container_width){
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                font-size: 18px;
     
      }       
        }
        &__contactDesigner img{
            padding-right: 10px;
            @media screen and(max-width: $container_width){
               width:30px;
               height: 17px;}     
        }


    }
.footer a{
    color:white;
}
  
.about{
    display:flex;
    flex-direction: row;
    margin-bottom: 70px;
    @media screen and(max-width: $container_width){
        display: block;
        margin-top: -4%;
        position: relative;
 

    }  

    &__img {
        @media screen and(max-width: $container_width){
            width:100%;
        
        }     
    }
    &__img img{
        width:550px;
        overflow: hidden;
        @media screen and(max-width: $container_width){
            width:100%;
            height:100%;
            display:block;}     
     }
    &__info{
        width:550px;
        margin-left:50px;
        padding-top: 20px;
        @media screen and(max-width: $container_width){
            margin-left:0px;
        }  
    }

    &__infoHeader{
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding-bottom: 30px;
        @media screen and(max-width: $container_width){
            position: absolute;
            top:3%;
            left:40%;
            color: #000000;
            font-size: 32px;
            font-weight: 500;
       
        } 

    }

    &__infoDescription{
        font-size: 16px;
        line-height: 150%;
        @media screen and(max-width: $container_width){
            width:90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 22px;
        }
    }
    &__infoDescriptionItalic{
        font-style: italic; 
        font-size: 24px;
        padding-top:20px;
        padding-bottom: 20px;
        @media screen and(max-width: $container_width){
            position: absolute;
            background-color: black;
            opacity: 0.7;
            top: 45.5%;
            left:0px;
            width:100%;
            color:white;
            text-align: center;
            font-weight:300;
            line-height: 35px;
            padding-bottom: 0px;
            font-size: 18px;
        
        }  

    }
}

.delivery{
    width:82%;
    margin-left: auto;
    margin-right: auto;

    &__mainTitle{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;

    }
    &__title{
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px;
        @media screen and(max-width: $container_width){
         text-align: center;
        
        }  
    }
    &__text{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 40px;
    }
    &__text p{
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    
}

.contact{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: left;
    font-size: 16px;
    line-height: 19px;

    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
        text-align: center;
    }
    &__info{
        font-size: 16px;
       margin-bottom: 20px;
    }
}

.contact a {    color: #000000;
margin-bottom: 30px;}
.contact img{ 
    margin-right: 10px;}
.section{

    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    font-family: $lato;
    float: left;
    margin-right:55px;

    @media screen and(max-width: $container_width){
        display:none;

    };


    &__item{
        margin-bottom:30px;
        margin-left: 58px;
    }

}
.section a{
    color:black;
}

.item{
    font-family: $lato;
    position: relative;
    &__photos{
        float:left;
        padding-right: 20px;
        @media screen and(max-width: $container_width){
            float:none;
            position: relative;
    
        };

    }

    &__photosCollection{
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-content: flex-start;
        width: 112px;
        height: 112px;
        float: left;
        margin-bottom: 60px;
        @media screen and(max-width: $container_width){
            display:none;
    
        };

        
    }


    &__photosMain{
        width: 425px;
        height: 650px;
        margin-bottom: 15px;
        @media screen and(max-width: $container_width){
            width: 80%;
            height:auto;
            margin-left: auto;
            margin-right: auto;
    
        };
        
    }


    &__photosCollection img{
        width: 100%;
        height: auto;
        padding-right: 25px;

        
    }
    &__photosMain img{
        width: 100%;
        height: auto;


    }

    &__info{
        padding-top:30px;
        @media screen and(max-width: $container_width){
            width: 80%;
            height:auto;
            margin-left: auto;
            margin-right: auto;
            position: relative;
    
        };
        
  
    }

    &__infoName{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__infoPrice{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
        
    }

    &__infoAvailability{
        float:right;
        margin-top: 11px;
        margin-right: 250px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #BDBDBD;

        
    }

    &__infoCharacteristics{
        margin-bottom: 40px;
        
    }

    &__infoTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin-top: 15px;
        margin-bottom: 20px;

    }

    &__infoDescription{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        
    }

    &__button{
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background-color: $black;
        color: #FFFFFF;
        width: 216px;
        height: 48px;
        border-radius:3px;
        margin-left: -17px;
        border: 0px;
        margin-top: -10px;
        @media screen and(max-width: $container_width){
            position: absolute;
            top:7%;
            left:30%;
    
    
        };
    }
    &__mobile{
        @media screen and(max-width: $container_width){
            margin-top: 20%;
        }
    };
  
}

.client-form{
    display: none;
    position: absolute;
    padding-top: 40px;
    background-color: white; 
    top:90%;
    left:34%;
    width:35%;
    height:360px;
    text-align: center;
    font-weight: 550;
    font-size: 16px;

}

.shadow{
    opacity: 0.6;
    background-color: #343434;
}
.close-form{
    
    top:10px;
    right:0;
    position: absolute;
    width:40px;
    height:30px;

}
.aform{
   
    width:80%;
    border:2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top:10%;
    &__phone{
        width:400px;
        height: 50px;

    }
    &__button{
        width:80%;
        margin-right: auto;
        margin-left: auto;
        background-color: black;
        color:white;
        font-weight: 500;
        height: 50px;
        margin-bottom: 30px;

    }
}

.thank-form{
    display: none;
    position: absolute;
    padding-top: 40px;
    background-color: white; 
    top:90%;
    left:34%;
    width:35%;
    height:360px;
    text-align: center;
    font-weight: 550;
    font-size: 16px;
    &__heart{
        margin-top: 50px;
     
    }
    &__logo {
        margin-top: 70px;
    
    }
}
.video{
    width: 60%;
    height:400px;
    margin-right:auto;
    margin-left: auto;
    background-color: black;
    margin-top:3%;
}
.video__item{
    width:100%;
    height:400px;
    overflow: hidden;

}



.videoXS__item{
    width:80%;
    height:120px;

}

.videoXS{
    width: 50%;
    margin-right:auto;
    margin-left:auto;
    height:120px;
    margin-bottom: 10%;
    margin-top:4%;


}
.lookbook__p{
    margin-top:2%;
    font-size: 18px;

}