@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
$black: #000000;
$container_width: 1140px;
$container_widthMD: 940px;
$lato: 'Lato',
sans-serif;

body {

    font-family: $lato;
}

.aheader {
    @media screen and(max-width: $container_widthMD) {
        background-color: #808080;
    }


}

.header {

    padding-left: 110px;
    padding-right: 125px;

    @media screen and(max-width: $container_widthMD) {
        background-color: $black;
        padding-top: 12px;
        padding-left: 0px;
        padding-right: 0px;
    }

    &__dropdown {
        padding-left: 5px;
        border: 1px solid gray;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    &__logo {
        @media screen and(max-width:$container_widthMD) {
            width: 15%;
            height: 70px;
            margin-right: auto;
            margin-left: auto;

        }
    }

    &__items {
        font-size: 13px;
        color: $black;

        @media screen and(max-width:$container_widthMD) {

            width: 80%;



        }
    }

    &__item {
        @media screen and(max-width:$container_widthMD) {
            margin-bottom: 10px;
            background-color: white;
            padding-left: 20px;
            list-style-type: none;
            padding-top: 6%;
            padding-bottom: 6%;



        }

    }

    &__items a {
        color: black;

        @media screen and(max-width: $container_width) {
            padding-top: 30px;
        }
    }

    &__items img {
        padding-right: 5px;
        padding-left: 5px;
    }

}


.button {
    width: 120px;
    height: 33px;
    text-align: left;
    font-size: 12px;
    color: #333333;
    border: 0px;

    @media screen and(max-width: $container_widthMD) {
        display: none;
    }

}

.buttonSmall img {
    display: none;

    @media screen and(max-width: $container_widthMD) {
        display: block;
        border: 0px;
        padding-right: 20px;
        width: 40px;
        height: 20px;
    }
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.catalog {
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    @media screen and(max-width:$container_widthMD) {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    &__new {
        position: absolute;
        color: black;
        border: 1px solid white;
        background-color: white;
        top: 0px;
        right: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        // @media screen and(max-width:$container_widthMD) {
        //     top: 335px;
        //     right: 10px;
        // }
    }

    &__newprice {
        color: #C5221E;
        font-weight: bold;
        font-size: 24px;

    }

    &__sale {
        position: absolute;
        color: white;
        border: 1px solid black;
        background-color: black;
        top: 0px;
        right: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    &__price {
        text-decoration: line-through;
    }

    &__load {
        display: none;
    }

}


.pictures {
    margin-bottom: 70px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    @media screen and(max-width: $container_widthMD) {
        padding-left: 0;
        width: 100%;
    }

    &__new {
        position: absolute;
        color: black;
        border: 1px solid white;
        background-color: white;
        top: 0px;
        right: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    &__newprice {
        color: #C5221E;
        font-weight: bold;
        font-size: 24px;

    }

    &__sale {
        position: absolute;
        color: white;
        border: 1px solid black;
        background-color: black;
        top: 0px;
        right: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

    &__price {
        text-decoration: line-through;
    }

    &__main {
        width: 76%;
        height: auto;
        overflow: hidden;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;

        @media screen and(max-width: $container_widthMD) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &__main img {
        width: 100%;
        height: auto;

        @media screen and(max-width: $container_widthMD) {
            width: 100%;
        }
    }

    &__list {
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 50px;
        height: 600px;
        width: 350px;
        padding-left: 20px;

        @media screen and(max-width: $container_widthMD) {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            padding-right: 0px;
            padding-left: 20px;
            ;
            margin-bottom: 90px;
        }


    }

    &__list img {
        margin-bottom: 10px;
        height: auto;
        width: 100%;




    }

    &__button {
        width: 250px;
        margin-right: auto;
        margin-left: auto;

    }

    &__buttonView {
        font-size: 16px;
        width: 250px;
        height: 50px;
        line-height: 19px;
        background-color: #000000;
        color: #FFFFFF;
        margin-bottom: 90px;


    }
}

.pictures__list a {
    color: $black;
}

.pictures__list p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.pictures__list span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

}

.review {
    margin-bottom: 6%;

    &__item {
        text-align: center;
    }

    &__itemUser {
        font-weight: bold;
        font-size: 16px;

    }

    &__itemComment {
        font-size: 14px;

    }
}

.review img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 179px;
    height: 178px;
}

.afooter {
    background-color: $black;
    width: 100%;
    padding-left: 10%;

    @media screen and(max-width: $container_width) {
        padding-left: 0;

    }
}

.footer {

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;


    @media screen and(max-width: $container_width) {
        flex-flow: column wrap;
        align-items: center;
        align-content: space-between;
        width: 100%;

    }

    //   width:50%;
    //   margin-right: auto;
    // margin-left: auto;


    &__logo {
        margin-top: 10px;

        @media screen and(max-width: $container_width) {
            border-bottom: 2px solid white;
            width: 100%;
            text-align: center;
            font-size: 10px;
            margin-top: 0px;
            padding-bottom: 1%;
        }



    }

    &__logo img {
        padding-bottom: 25%;

        @media screen and(max-width: $container_width) {
            display: none;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: -10px;

        @media screen and(max-width: $container_width) {
            margin-top: 10px;
            text-align: center;
            font-size: 18px;
            line-height: 28px;
            font-weight: normal;
            padding-bottom: 2%;
            padding-top: 1%;
            border-bottom: 2px solid white;
            width: 100%;

        }

    }

    &__contact {
        margin-top: -0.5%;

        @media screen and(max-width: $container_width) {
            border-bottom: 2px solid white;
            width: 100%;
            padding-top: 3%;
            text-align: center;
        }
    }

    &__contact:last-child {
        @media screen and(max-width: $container_width) {
            font-size: 10px;
            padding-bottom: 4%;
            color: #929292;
        }
    }

    &__contactSocial {
        display: flex;
        flex-direction: row;
        margin-top: 1.8%;
        margin-bottom: 4%;

        @media screen and(max-width: $container_width) {
            align-items: center;
            justify-content: center;
            padding-left: 5%;
            border-bottom: 2px solid white;
            padding-bottom: 3%;
        }
    }

    &__contactSocial img {
        padding-right: 25px;

        @media screen and(max-width: $container_width) {
            width: 45px;
            height: 20px;
        }
    }

    &__contactDesigner {
        padding-bottom: 2%;

        @media screen and(max-width: $container_width) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            font-size: 18px;

        }
    }

    &__contactDesigner img {
        padding-right: 10px;

        @media screen and(max-width: $container_width) {
            width: 30px;
            height: 17px;
        }
    }


}

.footer a {
    color: white;
}

.about {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;

    @media screen and(max-width: $container_widthMD) {
        display: block;
        // position: relative;


    }

    &__img {
        @media screen and(max-width: $container_width) {
            width: 100%;

        }
    }

    &__img img {
        width: 550px;
        overflow: hidden;

        @media screen and(max-width: $container_width) {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__info {
        width: 550px;
        margin-left: 50px;
        padding-top: 20px;

        @media screen and(max-width: $container_width) {
            margin-left: 0px;
        }
    }

    &__infoHeader {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding-bottom: 30px;

        @media screen and(max-width: $container_width) {
            position: absolute;
            top: 3%;
            left: 40%;
            color: #000000;
            font-size: 32px;
            font-weight: 500;

        }

    }

    &__infoDescription {
        font-size: 16px;
        line-height: 150%;

        @media screen and(max-width: $container_widthMD) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 22px;
        }
    }

    &__infoDescriptionItalicMobile {
        @media screen and(max-width: $container_widthMD) {
            font-size: 24px;
            padding-top: 20px;
            padding-bottom: 20px;
            position: absolute;
            background-color: black;
            opacity: 0.7;
            bottom: 0;
            left: 0px;
            width: 100%;
            color: white;
            text-align: center;
            font-weight: 300;
            line-height: 35px;
            padding-bottom: 0px;
            font-size: 18px;
        }
    }

    ;

    &__infoDescriptionItalic {
        font-style: italic;
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;

    }
}

.delivery {
    width: 82%;
    margin-left: auto;
    margin-right: auto;

    &__mainTitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;

    }

    &__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 20px;

        @media screen and(max-width: $container_width) {
            text-align: center;

        }
    }

    &__text {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 40px;
    }

    &__text p {
        margin-bottom: 20px;
        margin-top: 20px;

    }


}

.contact {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: left;
    font-size: 16px;
    line-height: 19px;

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__info {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.contact a {
    color: #000000;
    margin-bottom: 30px;
}

.contact img {
    margin-right: 10px;
}

.section {

    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    font-family: $lato;
    float: left;
    margin-right: 55px;

    @media screen and(max-width: $container_width) {
        display: none;

    }

    ;


    &__item {
        margin-bottom: 30px;
        margin-left: 58px;
    }

}

.section a {
    color: black;
}

.item {
    font-family: $lato;
    position: relative;
    height: auto;


    &__photos {
        float: left;
        padding-right: 20px;

        @media screen and(max-width: $container_width) {
            float: none;
            position: relative;

        }

        ;

    }

    &__photosCollection {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-content: flex-start;
        width: 112px;
        height: 112px;
        float: left;
        margin-bottom: 60px;

        @media screen and(max-width: $container_width) {
            display: none;

        }

        ;


    }


    &__photosMain {
        width: 425px;
        height: 650px;
        margin-bottom: 15px;

        @media screen and(max-width: $container_width) {
            width: 80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

        }

        ;

    }


    &__photosCollection img {
        width: 100%;
        height: auto;
        padding-right: 25px;


    }

    &__photosMain img {
        width: 100%;
        height: auto;


    }

    &__info {
        padding-top: 30px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        @media screen and(max-width: $container_widthMD) {
            width: 80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            position: relative;

        }

        ;


    }

    &__infoName {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__infoPrice {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;

    }

    &__infoAvailability {
        float: right;
        margin-top: 11px;
        margin-right: 250px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #BDBDBD;


    }

    &__infoCharacteristics {
        margin-bottom: 40px;

    }

    &__infoTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin-top: 15px;
        margin-bottom: 20px;

    }

    &__infoDescription {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

    }

    &__button {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background-color: $black;
        color: #FFFFFF;
        width: 216px;
        height: 48px;
        border-radius: 3px;
        margin-left: -17px;
        border: 0px;
        margin-bottom: 140%;

        @media screen and(max-width: $container_width) {
            margin-bottom: 70%;
            margin-left: 40px;


        }

        ;
    }

    &__mobile {
        @media screen and(max-width: $container_width) {
            margin-top: 20%;
        }
    }

    ;

}

.modal-body {
    @media screen and(max-width: $container_width) {
        display: block;
    }
}

// .client-form{
//     position: absolute;
//     padding-top: 40px;
//     background-color: white; 
//     top:90%;
//     left:34%;
//     width:35%;
//     height:360px;
//     text-align: center;
//     font-weight: 550;
//     font-size: 16px;

// }


// .close-form{

//     top:10px;
//     right:0;
//     position: absolute;
//     width:40px;
//     height:30px;

// }
.aform {

    width: 80%;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;

    &__phone {
        width: 400px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;


    }

    &__button {
        width: 400px;
        margin-left: 40px;
        background-color: black;
        color: white;
        font-weight: 500;
        height: 50px;
        margin-bottom: 30px;
        margin-top: 50px;

    }
}

.thank-form {

    position: absolute;
    padding-top: 40px;
    background-color: white;
    top: 90%;
    left: 34%;
    width: 35%;
    height: 360px;
    text-align: center;
    font-weight: 550;
    font-size: 16px;

    &__heart {
        margin-top: 50px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;

    }

    &__logo {
        margin-top: 70px;

    }
}

.video {
    width: 60%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    margin-top: 3%;
}

.video__item {
    width: 100%;
    height: 400px;
    overflow: hidden;

}



.videoXS__item {
    width: 80%;
    height: 120px;

}

.videoXS {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    margin-bottom: 10%;
    margin-top: 4%;


}

.lookbook__p {
    margin-top: 2%;
    font-size: 18px;

}

.modal {
    &__p {
        margin-left: 110px;

    }
}